Rails.application.config.generators do |g|
  g.orm :active_record
  g.assets false
  g.helper false
  g.jbuilder false
  <%- unless options.skip_test? -%>
  g.view_specs false
  g.routing_specs false
  g.test_framework :rspec
  <%- end -%>
  g.template_engine :slim
end
