article
  h2 S'inscrire

  = simple_form_for @user,
                    url: registration_path,
                    html: { \
                      data: { turbo: false } \
                    } do |f|
    = f.input :email_address,
              as: :email,
              required: true,
              autofocus: true,
              autocomplete: "username",
              input_html: { value: params.dig(:user, :email_address) }

    = f.input :password,
              required: true,
              autocomplete: "current-password",
              hint: false

    = f.input :password_confirmation,
              as: :password,
              required: true,
              autocomplete: "current-password",
              hint: false

    = f.button :submit, "S'inscrire"

  div
    = link_to "Mot de passe oublié ?", new_password_path
    br
    = link_to "Se connecter ?", new_session_path
