article
  h2= t('.title')

  = simple_form_for '',
                    url: password_path(params[:token]),
                    method: :put do |f|
    = f.input :password,
              required: true,
              autocomplete: "new-password"

    = f.input :password_confirmation,
              as: :password,
              required: true,
              autocomplete: "new-password"

    = f.button :submit, t('.submit')
