article
  h2 Réinitialiser mon mot de passe

  = simple_form_for '',
                    url: password_path(params[:token]),
                    method: :put do |f|
    = f.input :password,
              required: true,
              autocomplete: "new-password"

    = f.input :password_confirmation,
              as: :password,
              required: true,
              autocomplete: "new-password"

    = f.button :submit, 'Mettre à jour le mot de passe'
