<!DOCTYPE html>

<html>
  <head>
    <%%= seo_meta_tags %>
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%- if options[:css] == 'tailwind' -%>
    <%%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%- elsif options[:css].blank? -%>
    <%%= stylesheet_link_tag "<%= @pico_cdn_url %>" %>
    <%- end -%>

    <%%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%%= stylesheet_link_tag 'ribbon' unless Rails.env.production? %>

    <%%= javascript_importmap_tags %>
  </head>

  <body>
    <%%= ribbonit unless Rails.env.production? %>

    <main class="container-fluid">
      <div class="row-fluid">
        <div class="col-12 col-md-3 col-lg-2">
          <header>
            <%%= render 'admin/sidebar' %>
          </header>
        </div>

        <div class="col-12 col-md-9 col-lg-10">
          <div id="flash"><%%= render 'flash' %></div>
          <%- if @admin_dashboard -%>

          <%%= render 'admin/impersonated' if current_user != true_user %>
          <%- end -%>

          <%%= yield %>
        </div>
      </div>
    </main>

    <%%= render 'turbo_confirm' %>
  </body>
</html>
