<!DOCTYPE html>

<html>
  <head>
    <%%= seo_meta_tags %>
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%- if options[:css] == 'tailwind' -%>
    <%%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%- elsif options[:css].blank? -%>
    <%%= stylesheet_link_tag "<%= @pico_cdn_url %>" %>
    <%- end -%>

    <%%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%%= stylesheet_link_tag 'ribbon' unless Rails.env.production? %>
    <%- unless options.skip_javascript? -%>

    <%%= javascript_importmap_tags %>
    <%- end -%>
  </head>

  <body>
    <%%= ribbonit unless Rails.env.production? %>

    <main class="container">
      <nav role="navigation">
        <ul role="list">
          <li>
            <%%= link_to root_path do %>
              <h1><%= camelized %></h1>
            <%% end %>
          </li>
        </ul>

        <% if @locales.count > 1 %>
        <ul id="menu" role="list">
          <li role="listitem">
            <%%= render 'locale_switcher' %>
          </li>
        </ul>
        <% end %>
      </nav>

      <div class="row-fluid">
        <div class="col-lg-6 offset-lg-3">
          <div id="flash"><%%= render 'flash' %></div>

          <%%= yield %>
        </div>
      </div>
    </main>

    <%%= render 'turbo_confirm' %>
  </body>
</html>
